In [2]:
import os
import sys
ROOT_DIR = os.path.dirname(os.path.abspath('..'))
sys.path.insert(0, os.path.abspath(ROOT_DIR))

%load_ext autoreload
%autoreload 2

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from jupyterthemes import jtplot
jtplot.style()
import seaborn as sns
import statsmodels
import sklearn

In [5]:
df_gdp = pd.read_csv('../data/processed/gdp_per_capita.csv')
df_gdp.head()

,Country,Subject,Measure,Year,Value
0,Australia,Gross Domestic Product (GDP); millions,"National currency, current prices",1970,40314.0
1,Australia,Gross Domestic Product (GDP); millions,"National currency, current prices",1971,44484.0
2,Australia,Gross Domestic Product (GDP); millions,"National currency, current prices",1972,49747.0
3,Australia,Gross Domestic Product (GDP); millions,"National currency, current prices",1973,60272.0
4,Australia,Gross Domestic Product (GDP); millions,"National currency, current prices",1974,71158.0

In [7]:
df_prod = pd.read_csv('../data/processed/productivity_growth.csv')
df_prod.head()

,Country,Subject,Measure,Year,Unit,Value
0,Australia,Total capital services,Annual growth/change,1985,Percentage,5.122257
1,Australia,Total capital services,Annual growth/change,1986,Percentage,4.945708
2,Australia,Total capital services,Annual growth/change,1987,Percentage,4.964987
3,Australia,Total capital services,Annual growth/change,1988,Percentage,5.063412
4,Australia,Total capital services,Annual growth/change,1989,Percentage,4.829607

In [8]:
df_gdp['Subject'].unique()

array(['Gross Domestic Product (GDP); millions',
       'GDP per head of population', 'GDP per hour worked',
       'GDP per person employed',
       'Labour utilisation (hours worked per head of population)',
       'Hours worked for total employment; millions',
       'Gap in GDP per hour worked with respect to the USA',
       'Total population; persons; thousands',
       'Gap in GDP per capita with respect to the USA',
       'Total employment (number of persons employed); thousands',
       'Gap in labour utilisation with respect to the USA',
       'Average hours worked per person employed'], dtype=object)

In [10]:
df_gdp['Country'].unique()

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg',
       'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland',
       'Portugal', 'Slovak Republic', 'Spain', 'Sweden', 'Switzerland',
       'Turkey', 'United Kingdom', 'United States', 'Brazil', 'Chile',
       "China (People's Republic of)", 'Estonia', 'India', 'Indonesia',
       'Israel', 'Russia', 'Slovenia', 'South Africa',
       'BRIICS economies - Brazil, Russia, India, Indonesia, China and South Africa',
       'European Union (28 countries)', 'OECD - Total', 'G7', 'Colombia',
       'Latvia', 'Lithuania', 'Euro area (19 countries)'], dtype=object)

In [13]:
df_gdp['Measure'].unique()

array(['National currency, current prices',
       'USD, current prices, current PPPs',
       'USD, constant prices, 2015 PPPs', 'As % of the USA (USA=100)',
       'Persons/Hours', 'Gap in % points'], dtype=object)

In [36]:
def make_prod_gdp_data(df_prod, df_gdp):
    mutual_countries = [c for c in df_gdp['Country'].unique() if c in df_prod['Country'].unique()]
    qry = " | ".join([f"(Country == '{i}')" for i in mutual_countries])
    dff_prod = df_prod.query(qry, engine='python')
    dff_gdp = df_gdp.query(qry, engine='python')
    dff_gdp = dff_gdp[dff_gdp['Measure'] == 'USD, current prices, current PPPs']
    
    return(dff_prod, dff_gdp)

dff_prod, dff_gdp = make_prod_gdp_data(df_prod, df_gdp)

In [37]:
dff_prod

,Country,Subject,Measure,Year,Unit,Value
0,Australia,Total capital services,Annual growth/change,1985,Percentage,5.122257
1,Australia,Total capital services,Annual growth/change,1986,Percentage,4.945708
2,Australia,Total capital services,Annual growth/change,1987,Percentage,4.964987
3,Australia,Total capital services,Annual growth/change,1988,Percentage,5.063412
4,Australia,Total capital services,Annual growth/change,1989,Percentage,4.829607
5,Australia,Total capital services,Annual growth/change,1990,Percentage,3.322821
6,Australia,Total capital services,Annual growth/change,1991,Percentage,2.668921
7,Australia,Total capital services,Annual growth/change,1992,Percentage,3.043606
8,Australia,Total capital services,Annual growth/change,1993,Percentage,3.037751
9,Australia,Total capital services,Annual growth/change,1994,Percentage,3.623185
10,Australia,Total capital services,Annual growth/change,1995,Percentage,3.773967
11,Australia,Total capital services,Annual growth/change,1996,Percentage,4.095754
12,Australia,Total capital services,Annual growth/change,1997,Percentage,4.641952
13,Australia,Total capital services,Annual growth/change,1998,Percentage,4.341182
14,Australia,Total capital services,Annual growth/change,1999,Percentage,4.528716
15,Australia,Total capital services,Annual growth/change,2000,Percentage,4.378339
16,Australia,Total capital services,Annual growth/change,2001,Percentage,3.994049
17,Australia,Total capital services,Annual growth/change,2002,Percentage,4.686434
18,Australia,Total capital services,Annual growth/change,2003,Percentage,4.668319
19,Australia,Total capital services,Annual growth/change,2004,Percentage,5.077356
20,Australia,Total capital services,Annual growth/change,2005,Percentage,5.735487
21,Australia,Total capital services,Annual growth/change,2006,Percentage,5.538012
22,Australia,Total capital services,Annual growth/change,2007,Percentage,6.083324
23,Australia,Total capital services,Annual growth/change,2008,Percentage,5.493269
24,Australia,Total capital services,Annual growth/change,2009,Percentage,5.031650
25,Australia,Total capital services,Annual growth/change,2010,Percentage,4.888434
26,Australia,Total capital services,Annual growth/change,2011,Percentage,5.709980
27,Australia,Total capital services,Annual growth/change,2012,Percentage,5.292417
28,Australia,Total capital services,Annual growth/change,2013,Percentage,4.190251
29,Australia,Total capital services,Annual growth/change,2014,Percentage,3.359236
...,...,...,...,...,...,...
24387,Norway,Non-ICT capital deepening,Annual growth/change,1994,Percentage,-2.787172
24388,Norway,Non-ICT capital deepening,Annual growth/change,1995,Percentage,-2.713404
24389,Norway,Non-ICT capital deepening,Annual growth/change,1996,Percentage,-2.612857
24390,Norway,Non-ICT capital deepening,Annual growth/change,1997,Percentage,-1.091248
24391,Norway,Non-ICT capital deepening,Annual growth/change,1998,Percentage,-0.701109
24392,Norway,Non-ICT capital deepening,Annual growth/change,1999,Percentage,-1.786743
24393,Norway,Non-ICT capital deepening,Annual growth/change,2000,Percentage,0.356685
24394,Norway,Non-ICT capital deepening,Annual growth/change,2001,Percentage,2.474015
24395,Norway,Non-ICT capital deepening,Annual growth/change,2002,Percentage,0.836045
24396,Norway,Non-ICT capital deepening,Annual growth/change,2003,Percentage,1.286832
24397,Norway,Non-ICT capital deepening,Annual growth/change,2004,Percentage,-2.009495
24398,Norway,Non-ICT capital deepening,Annual growth/change,2005,Percentage,2.690184
24399,Norway,Non-ICT capital deepening,Annual growth/change,2006,Percentage,5.303136
24400,Norway,Non-ICT capital deepening,Annual growth/change,2007,Percentage,6.648007
24401,Norway,Non-ICT capital deepening,Annual growth/change,2008,Percentage,6.666833
24402,Norway,Non-ICT capital deepening,Annual growth/change,2009,Percentage,8.631783
24403,Norway,Non-ICT capital deepening,Annual growth/change,2010,Percentage,4.181028
24404,Norway,Non-ICT capital deepening,Annual growth/change,2011,Percentage,2.212913
24405,Norway,Non-ICT capital deepening,Annual growth/change,2012,Percentage,1.603550
24406,Norway,Non-ICT capital deepening,Annual growth/change,2013,Percentage,2.904099
24407,Norway,Non-ICT capital deepening,Annual growth/change,2014,Percentage,1.307292
24408,Norway,Non-ICT capital deepening,Annual growth/change,2015,Percentage,0.826526
24409,Norway,Non-ICT capital deepening,Annual growth/change,2016,Percentage,0.467809
24410,Norway,Non-ICT capital deepening,Annual growth/change,2017,Percentage,0.747835
24436,Chile,Unit Labour Costs,Annual growth/change,2014,Percentage,6.494247
24437,Chile,Unit Labour Costs,Annual growth/change,2015,Percentage,4.734548
24438,Chile,Labour compensation per hour worked,Annual growth/change,2014,Percentage,7.576240
24439,Chile,Labour compensation per hour worked,Annual growth/change,2015,Percentage,6.038940
24440,Chile,"Unit Labour Costs, USD exchange-rate adjusted",Annual growth/change,2014,Percentage,-7.523666
24441,Chile,"Unit Labour Costs, USD exchange-rate adjusted",Annual growth/change,2015,Percentage,-8.679157

In [12]:
df_gdp[(df_gdp['Subject'] == 'GDP per person employed')& (df_gdp['Country'] == 'Euro area (19 countries)')].sort_values(by='Year')

,Country,Subject,Measure,Year,Value
45773,Euro area (19 countries),GDP per person employed,"National currency, current prices",1995,43848.192452
45973,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",1995,79325.351767
46073,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),1995,82.464083
45873,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",1995,49433.861049
46074,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),1996,81.209045
45874,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",1996,50761.922130
45974,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",1996,80096.659776
45774,Euro area (19 countries),GDP per person employed,"National currency, current prices",1996,45422.162796
46075,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),1997,80.696258
45775,Euro area (19 countries),GDP per person employed,"National currency, current prices",1997,46062.768704
45975,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",1997,81400.661891
45875,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",1997,52463.834452
46076,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),1998,79.864741
45876,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",1998,54101.695488
45776,Euro area (19 countries),GDP per person employed,"National currency, current prices",1998,47074.727235
45976,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",1998,82314.046494
45977,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",1999,83129.558954
45877,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",1999,55258.794161
46077,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),1999,77.907241
45777,Euro area (19 countries),GDP per person employed,"National currency, current prices",1999,48302.858820
45878,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",2000,57585.928126
45778,Euro area (19 countries),GDP per person employed,"National currency, current prices",2000,49717.940077
45978,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",2000,84398.745874
46078,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),2000,78.172555
45879,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",2001,59787.371944
45979,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",2001,85208.605126
46079,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),2001,78.658272
45779,Euro area (19 countries),GDP per person employed,"National currency, current prices",2001,51431.860596
45780,Euro area (19 countries),GDP per person employed,"National currency, current prices",2002,52770.328136
45880,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",2002,61936.204333
...,...,...,...,...,...
45890,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",2012,84881.358131
45790,Euro area (19 countries),GDP per person employed,"National currency, current prices",2012,65707.239073
45791,Euro area (19 countries),GDP per person employed,"National currency, current prices",2013,66714.097639
45891,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",2013,88305.112038
46091,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),2013,76.907938
45991,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",2013,90442.516897
46092,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),2014,76.446044
45892,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",2014,90220.353899
45992,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",2014,91112.569376
45792,Euro area (19 countries),GDP per person employed,"National currency, current prices",2014,67843.631965
46093,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),2015,76.180358
45993,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",2015,92013.264868
45893,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",2015,92013.264868
45793,Euro area (19 countries),GDP per person employed,"National currency, current prices",2015,69472.948730
45994,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",2016,92515.855039
45894,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",2016,96601.116835
45794,Euro area (19 countries),GDP per person employed,"National currency, current prices",2016,70498.157236
46094,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),2016,79.149212
45995,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",2017,93433.707650
46095,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),2017,79.786159
45795,Euro area (19 countries),GDP per person employed,"National currency, current prices",2017,71975.648823
45895,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",2017,100279.714030
45996,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",2018,93725.829284
46096,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),2018,78.346183
45896,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",2018,102257.498370
45796,Euro area (19 countries),GDP per person employed,"National currency, current prices",2018,73185.787603
45897,Euro area (19 countries),GDP per person employed,"USD, current prices, current PPPs",2019,105476.693160
45797,Euro area (19 countries),GDP per person employed,"National currency, current prices",2019,74486.283437
45997,Euro area (19 countries),GDP per person employed,"USD, constant prices, 2015 PPPs",2019,93767.894701
46097,Euro area (19 countries),GDP per person employed,As % of the USA (USA=100),2019,78.602385